<p class="intro">Edit your account settings.</p>

<input id="account-name-field" value="{{user.name}}" />
<input id="account-email-field" value="{{user.email}}" />
<input id="account-password-field" placeholder="password" type="password" />
<button type="submit" id="account-submit-button">Save changes</button>