<p class="intro">Edit your account settings.</p>

<form>
	<label for="account-name-field">Name</label>
	<input id="account-name-field" value="{{user.name}}" />
	<label for="email-name-field">Email</label>
	<input id="account-email-field" value="{{user.email}}" />
	<label for="password-name-field">Password</label>
	<input id="account-password-field" placeholder="Password" type="password" />
	<button type="submit" id="account-submit-button">Save changes</button>
</form>