<p class="intro">Welcome back, {{user.name}}!</p>

<div class="hashes-wrapper">
	<div id="hashtory">
		<form>
			<input id="hashtag-name" name="tag" placeholder="#hashtag"/>
			<button type="button" id="get-tweets-button">Submit</button>
		</form>
		<h3>Hashtory</h3>
		<ul class="sortable">
			{{#each user.hashtags}}
				<li class="taglist"><a href="#">{{this.name}}</a></li>
			{{/each}}
		</ul>
	</div>

	<div class="masonry-grid">
	  <div class="grid-sizer"></div>
	</div>
</div>