<p class="intro">Welcome back, {{user.name}}!</p>

<form>
	<input id="hashtag-name" name="tag" placeholder="#hashtag"/>
	<button type="button" id="get-tweets-button">Submit</button>
</form>



{{!-- <form action="http://localhost:3000/hashtags/search" method="POST">
	<input name="tag" placeholder="#hashtag"/>
	<input name="userId" value="{{user.id}}"/>
	<button>submit</button>
</form>
 --}}
<div class="masonry-grid">
  <div class="grid-sizer"></div>
</div> 	