<p class="intro">Welcome back, {{user.name}}!</p>

<form>
	<input id="hashtag-name" name="tag" placeholder="#hashtag"/>
	<button type="button" id="get-tweets-button">Submit</button>
</form>

<div class="masonry-grid"></div>


 	