<p class="intro">Ever felt disappointed you can't follow hashtags on Twitter? Now you can with Hashdash.</p>

<p>Sign up</p>
<input id="signup-name-field" placeholder="name" />
<input id="signup-email-field" placeholder="email" />
<input id="signup-password-field" placeholder="password" type="password" />
<button type="button" id="sign-up">Sign up</button>

<p>or Log in</p>
<input id="login-email-field" placeholder="email" />
<input id="login-password-field" placeholder="password" type="password" />
<button type="button" id="login-button">Log in</button>
