<p class="intro">Ever felt disappointed you can't follow hashtags on Twitter? Now you can with Hashdash.</p>

<div class="toggle-wrapper">
	<div class="toggle-options">
		<span>Sign up</span>
		<span>Log in</span>
	</div>
</div>


<label for="signup-name-field">Name</label>
<input id="signup-name-field" placeholder="name" />
<label for="signup-email-field">Email</label>
<input id="signup-email-field" placeholder="email" />
<label for="signup-password-field">Password</label>
<input id="signup-password-field" placeholder="password" type="password" />
<button type="button" id="sign-up">Sign up</button>


<label for="login-email-field">Email</label>
<input id="login-email-field" placeholder="email" />
<label for="login-password-field">Password</label>
<input id="login-password-field" placeholder="password" type="password" />
<button type="button" id="login-button">Log in</button>
