<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
	src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
	  
	  
</head>
<body{{#if session.loggedIn}} id="{{session.myId}}"{{/if}}>
	<nav>
		<h1><a href="/">Hashdash!</a></h1>
		{{#if session.loggedIn}}
		<div class="nav-right">
			<a href="/users/account">Account</a>
			<a href="/users/logout">Logout</a>
		</div>
		{{/if}}
	</nav>
	<div class="wrapper">
		{{{ body }}}
	</div>

{{!-- This is code from twitter that shows the tweet as embedded. --}}
		<script>window.twttr = (function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0],
		    t = window.twttr || {};
		  if (d.getElementById(id)) return t;
		  js = d.createElement(s);
		  js.id = id;
		  js.src = "https://platform.twitter.com/widgets.js";
		  fjs.parentNode.insertBefore(js, fjs);

		  t._e = [];
		  t.ready = function(f) {
		    t._e.push(f);
		  };

		  return t;
		}(document, "script", "twitter-wjs"));</script>
	<script src="../js/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>