<p>Login page</p>

<input id="login-email-field" placeholder="email" />
<input id="login-password-field" placeholder="password" type="password" />
<button type="submit" id="login-button">Submit</button>