<p>Sign up page</p>

<input id="name-field" placeholder="name" />
<input id="email-field" placeholder="email" />
<input id="password-field" placeholder="password" type="password" />
<button type="submit" id="sign-up">Submit</button>