<p>Sign up page</p>

<input id="signup-name-field" placeholder="name" />
<input id="signup-email-field" placeholder="email" />
<input id="signup-password-field" placeholder="password" type="password" />
<button type="submit" id="sign-up">Submit</button>