* {
  box-sizing: border-box;
}
body {
  background-color: rgba(115, 201, 255, 0.15);
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 1rem;
  color: #14171a;
}
p {
  margin: 0 0 1rem 0;
}
p.intro {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
}
a {
  color: #14171a;
}
label {
  display: block;
  margin-bottom: .5rem;
}
input,
button {
  border-radius: 3px;
  border: none;
  color: #14171a;
}
input {
  display: block;
  margin-bottom: 1rem;
  padding: .5rem;
  border: 1px solid #e1e8ed;
}
input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #657786;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #657786;
  opacity: 1;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #657786;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #657786;
}
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #657786;
}
button {
  padding: .5rem 1rem;
}
.lil-wrapper {
  max-width: 30rem;
  margin: 0 auto;
}
.lil-wrapper input {
  width: 100%;
}
.lil-wrapper .toggle-options {
  display: flex;
  width: 100%;
}
.lil-wrapper .toggle-options span {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}
.lil-wrapper .toggle-options span:not(.selected) {
  color: #657786;
}
.lil-wrapper #login-form {
  display: none;
}
nav,
.wrapper {
  width: 100%;
  margin: 1rem auto;
  padding: .5rem;
  max-width: 60rem;
}
nav h1 {
  font-size: 1rem;
  font-weight: normal;
  display: inline-block;
  margin: 0;
}
nav .nav-right {
  float: right;
}
nav .nav-right a {
  display: inline-block;
  margin-left: 2rem;
  text-decoration: none !important;
  background: none;
}
nav .nav-right a:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #14171a 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0px 15px;
}
.masonry-grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 50%;
}
.grid-item {
  float: left;
}
