@bg-color: rgba(115,201,255,0.15);
@font-stack: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
@font-color: #14171a;
@disabled-color: #657786;

* {
	box-sizing: border-box;
}

body {
	background-color: @bg-color;
	font-family: @font-stack;
	font-size: 1rem;
	color: @font-color;
}

p {
	margin: 0 0 1rem 0;
	&.intro {
		font-size: 1.5rem;
		text-align: center;
		line-height: 1.5;
		margin-bottom: 2rem;
	}
}

a {
	color: @font-color;
}

label {
	display: block;
	margin-bottom: .5rem;
}

input, button {
	border-radius: 3px;
	border: none;
	color: @font-color;
}

input {
	display: block;
	margin-bottom: 1rem;
	padding: .5rem;
	border: 1px solid #e1e8ed;
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   		color: @disabled-color;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: @disabled-color;
		opacity: 1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: @disabled-color;
		opacity: 1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: @disabled-color;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
		color: @disabled-color;
	}
}

button {
	padding: .5rem 1rem;
}

.lil-wrapper {
	max-width: 30rem;
    margin: 0 auto;
    input {
    	width: 100%;
    }
    .toggle-options {
	display: flex;
	width: 100%;
		span {
			flex-grow: 1;
			text-align: center;
			cursor: pointer;
			&:not(.selected) {
				color: @disabled-color;
			}
		}
	}
	#login-form {
		display: none;
	}
}

nav, .wrapper {
	width:100%;
	margin: 1rem auto;
	padding: .5rem;
	max-width: 60rem;
}

nav {
	h1 {
		font-size: 1rem;
		font-weight: normal;
		display: inline-block;
		margin: 0;
	}
	a {
		text-decoration: none !important;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, @font-color 50%);
	  	background-repeat: repeat-x;
	   	background-size: 2px 2px;
	   	background-position: 0px 15px;
		&:hover {
			background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, @disabled-color 50%);
			color: @disabled-color;
	    }
	}
	.nav-right {
		float: right;
		a {
			display: inline-block;
			margin-left: 2rem;
		}
	}
}


.hashes-wrapper {
	display: flex;
	#hashtory {
		flex: 0 0 20%;
	}
	.masonry-grid {
		flex-grow: 1;
	}
}



// masonry styles

.masonry-grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 50%;
  // min-height: 30px;
}

.grid-item {
  float: left;
  padding: 0 .5rem;
}

// not working yet
@media only screen and (max-width: 48rem) {

.grid-sizer,
.grid-item {
  width: 100%;
}
}